*/__pycache__
*.pdf
*.npy
*.png
*/data/
*/local_autograder/
*/saved_models/
*/backups/
*/outputs/
*/test
*/.idea
*.iml
*.xml
*.nosync
*.csv
*.pt
*/label_fusion/
*.nosync/
*/dataset/
*/dataset
dataset/
