*/__pycache__
*.pdf
*.npy
*.png
*.gz
*.tar
*/data/
*/local_autograder/
saved_models/
*/backups/
*/outputs/
*/test
*/.idea
*.iml
*.xml
*.nosync
*.csv
*.pt
*/label_fusion/
*.nosync/
*/dataset/
*/dataset
dataset/
*.__pycache__/
__pycache__/
*/experiments/
